<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/About.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Aspiring Software Developer</title>
</head>
<body>
    <div class="about">
        <p class="p3">Know More About Me</p>
        <img src="/imgs/me3.jpg" alt="" class="me3">
        <div class="head">
        <div class="heading1"><p>I'm Sonu Prakash, An aspiring Software Developer.</p></div>
        <div class="para">
            I love coding and building things with computers. I'm really good at HTML and CSS, and I'm always learning new things to become an expert software developer. I want to create amazing software that helps people.
        </div>
    </div>
    <div class="edu">
        <i class="fa-solid fa-user-graduate" id="icon"></i>
        <p class="education">
            Education
        </p>
        <p class="edu1">BVoc in Software Development</p>
    </div>
    <div class="skills">
        <i class="fa-solid fa-book" id="icon"></i>
        <p class="education">
            Skills
        </p>
        <ul class="list" type="Square">
            <li class="item">HTML5</li>
            <li class="item">CSS</li>
            <li class="item">JavaScript</li>
            <li class="item">Figma</li>
        </ul>
    </div>
        </div>
</body>
</html>