<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspiring Software Developer</title>
    <link rel="stylesheet" href="css/Home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gilda+Display&family=IM+Fell+French+Canon+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="nav">
            <a href="/know" class="items_1">About
            <a href="#service" class="items_2">Service
            <a href="/cont" class="items_3">Contact
        </div>
        <div class="content">
        <img src="/imgs/me.jpg" alt="" class="me">
        <div class="main_text">
            <h6 class="p1">Hey I'm</h6>
            <h3 class="heading">Sonu Prakash</h3>
            <h5 class="p2">Frontend Developer</h5>
            <button class="contactme"><a href="public/Contact.html" class="cont_me">Contact Me</a></button>
        </div>
        </div>
    </div>
    <div class="about">
    <div class="head">
    <div class="heading1"><p>Sonu Prakash</p></div>
    <div class="para">
        Hey,I am a dedicated software developer with a BVoc in Software Development and currently pursuing an MVoc in the same field from a prestigious university. My passion for coding ignited during my undergraduate studies, where I honed my skills in HTML5 and CSS. Eager to expand my expertise, I am committed to mastering the intricacies of software development and creating innovative solutions. Through continuous learning and hands-on experience, I aspire to become a proficient software engineer contributing to cutting-edge projects
    </div>
</div>
    <img src="/imgs/me2.jpg" alt="" class="me2">
    </div>
    <div id="service">
        <h6 class="p3">Services</h6>
        <div class="set">
            <div class="set1">
                <h4>UI Design and Development</h4>
                It involves crafting the visual and interactive elements of a website or application. HTML structures the content, CSS styles the appearance (colors, layout, fonts), and JavaScript brings interactivity (animations, user responses). Together, these technologies create engaging and intuitive interfaces that guide users seamlessly through digital experiences.
            </div>
            <div class="set1">
                <h4>UX Design</h4>
                UX Design focuses on creating intuitive and enjoyable user experiences. It involves understanding user needs, behaviors, and motivations to design interfaces that are easy to navigate, efficient, and satisfying. This includes everything from information architecture and interaction design to usability testing and iterative improvements. The goal is to create products that seamlessly meet user expectations and delight them.
                </div>
            <div class="set1">
                <h4>Responsive Design</h4>
                Responsive Design ensures websites adapt seamlessly to different screen sizes, from large desktops to small smartphones. This is achieved through flexible layouts, images, and CSS techniques that adjust content and presentation based on the device. By prioritizing content and user experience, responsive design creates a consistent and enjoyable browsing experience across all platforms.
                </div>
        </div>
    </div>
    <div id="contact">
        <hr>
        <div class="text">
            Contact Me
        </div>
        <hr>
        <div class="set2">
            <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3B3lmmjp%2ByTMaXQE3Va9sd4g%3D%3D" class="fa-brands fa-linkedin" id="i2"></a>
            <a href="https://github.com/sonujayaprakash" class="fa-brands fa-github" id="i2"></a>
        </div>
    </div>
</body>
</html>